.ant-layout-header {
  background-color: rgb(250, 208, 161) !important;
  display: flex;
  justify-content: space-between;
  &-icon {
    font-size: 24px;
    font-weight: 600;
  }
  &-username {
    &:hover {
      cursor: pointer;
    }
    img {
      height: 40px;
      width: 40px;
    }
  }
}
